<div #screen >
  <h1>Hey!</h1>
  <p>some content</p>
  <div>
    <p> 1 -  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos non,
       natus asperiores ratione neque doloremque quis molestias ab 
      quibusdam saepe fugiat doloribus nulla numquam quos dolorem laboriosam sed 
      perferendis eius.</p>

      <p>2 - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos non,
        natus asperiores ratione neque doloremque quis molestias ab 
       quibusdam saepe fugiat doloribus nulla numquam quos dolorem laboriosam sed 
       perferendis eius.</p>

       <p> 3 - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos non,
        natus asperiores ratione neque doloremque quis molestias ab 
       quibusdam saepe fugiat doloribus nulla numquam quos dolorem laboriosam sed 
       perferendis eius.</p>

       <p> 4 - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos non,
        natus asperiores ratione neque doloremque quis molestias ab 
       quibusdam saepe fugiat doloribus nulla numquam quos dolorem laboriosam sed 
       perferendis eius.</p>

       <p> 5 - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos non,
        natus asperiores ratione neque doloremque quis molestias ab 
       quibusdam saepe fugiat doloribus nulla numquam quos dolorem laboriosam sed 
       perferendis eius.</p>

       <p> 6 - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos non,
        natus asperiores ratione neque doloremque quis molestias ab 
       quibusdam saepe fugiat doloribus nulla numquam quos dolorem laboriosam sed 
       perferendis eius.</p>

       <p> 7 - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos non,
        natus asperiores ratione neque doloremque quis molestias ab 
       quibusdam saepe fugiat doloribus nulla numquam quos dolorem laboriosam sed 
       perferendis eius.</p>

       <p> 8 - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos non,
        natus asperiores ratione neque doloremque quis molestias ab 
       quibusdam saepe fugiat doloribus nulla numquam quos dolorem laboriosam sed 
       perferendis eius.</p>
       <p> 9 - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos non,
        natus asperiores ratione neque doloremque quis molestias ab 
       quibusdam saepe fugiat doloribus nulla numquam quos dolorem laboriosam sed 
       perferendis eius.</p>

       <p> 10 - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos non,
        natus asperiores ratione neque doloremque quis molestias ab 
       quibusdam saepe fugiat doloribus nulla numquam quos dolorem laboriosam sed 
       perferendis eius.</p>

       <p> 11 - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos non,
        natus asperiores ratione neque doloremque quis molestias ab 
       quibusdam saepe fugiat doloribus nulla numquam quos dolorem laboriosam sed 
       perferendis eius.</p>

       <p> 12 - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos non,
        natus asperiores ratione neque doloremque quis molestias ab 
       quibusdam saepe fugiat doloribus nulla numquam quos dolorem laboriosam sed 
       perferendis eius.</p>
  </div>
</div>


<button (click)="screenshot()">Take screen shot </button>


<!-- for crop image -->
<!-- <ngx-capture [target]="screen" (resultImage)="saveImage($event)"></ngx-capture> -->